* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    
}
html{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
}

*, *:before, *:after {
    box-sizing: inherit;
}

.name {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 10em;
    color: #333;
    font-weight: 30;
    margin-top: .5em;
    margin-bottom: .2em;
    text-shadow: 2px 2px #84a98c;
 
}

.navigation {
   background: #333;
    
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation li {
    float: left;
}

.navigation a {
    display: block;
    color: white;
    background: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #84a98c;
}

.story {
    text-align: center;
    display: block;
    height: 200px;
    overflow: visible;
}


.column {
    float: left;
    width: 33.3%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px 2px;
}

.card img {
    object-fit: cover;
    height: 300px;
    
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #84a98c;
  color: white;
}

.container {
    padding: 0 16px;
    line-height: 1.8; 
    
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



.ourgallery {
    padding: 4em 0;
    overflow: auto;
    text-align: center;
}

.ourgallery h1 {
    margin-bottom: 1em;
}

div.gallery {
   
    background: white;
    margin-left: .5em;
    margin-right: .5em;
}

div.gallery:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

#cf6_image {
  margin:0 auto;
  width:200px;
  height:200px;
  object-fit: cover;
  transition: background-image 1s ease-in-out;
  background-image:url("ring1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

#cf6_image:hover {
  background-image:url("cf6wom.jpeg");

}

#cf7_image {
  margin:0 auto;
  width:200px;
  height:200px;
  object-fit: cover;
  transition: background-image 1s ease-in-out;
  background-image:url("necklace.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

#cf7_image:hover {
  background-image:url("cf7wom.jpeg");
  background-size: cover;
  

}

#cf8_image {
  margin:0 auto;
  width:200px;
  height:200px;
  object-fit: cover;
  transition: background-image 1s ease-in-out;
  background-image:url("jewl5.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

#cf8_image:hover { 
  background-image:url("cf8wom.jpeg");
  
  
}

#cf9_image {
  margin:0 auto;
  width:200px;
  height:200px;
  object-fit: cover;
  transition: background-image 1s ease-in-out;
  background-image:url("earing.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

#cf9_image:hover {
  background-image:url("cf9wom.jpeg");
  
  
}

div.desc {
  padding: 15px;
  text-align: center;
}
.responsive {
    padding: 0 1px;
    float: left;
    width: 24.9999%;
}

.contact-us {
    margin: 5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #84a98c;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column1 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
   
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.content-wrap {
    text-align: center;
    display: block;
}

.footer {
    grid-area: footer;
    background-color: #84a98c;
    color: white;
    text-align: center;
    padding: 1em; 
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
    
@media screen and (max-width: 350px) {
  .column {
    width: 100%;
    display: block;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
